In [121]:
import requests
import time
import pandas as pd
pd.set_option("expand_frame_repr",False)

names = locals()

BASE_URL = "http://api.binance.com"
currency = ["BNB","BTC","ETH"]

limit = 1000 # maximum enquiry per request
period = 29 # means 29 x 1000 = 29000 hours ; in 3 years we have around 365x3x24=26280 hours
time_now = 1616371200 # 2021/3/22 00:00:00 UTC (2021/3/22 08:00:00 Singapore time)

for j in currency:
    
    #initialize
    df_result = pd.DataFrame()
    start_time = int(time_now//60*60*1000 -limit*60*60*1000*period)
    end_time = int(start_time+limit*60*60*1000)

    for i in range(period):

        url = BASE_URL+"/api/v3/klines"+"?symbol="+j+"USDT&interval=1h&limit="+str(limit)+"&startTime="+str(start_time)+"&endTime="+str(end_time)    
        resp = requests.get(url)
        data = resp.json()
        df = pd.DataFrame(data,columns={"open_time":0,"open":1,"high":2,"low":3,"close":4,"volume":5,
                                       "close_time":6,"quote_volume":7,"trades":8,
                                        "taker_base_volume":9,"taker_quote_volume":10,"ignore":11})
        df=df[["open_time","open","high","low","close","volume"]]
        df["open_time"] = pd.to_datetime(df["open_time"],unit="ms")

        # store the enquiry result
        df_result = pd.concat([df_result,df])

        # reset start time and end time
        start_time = end_time
        end_time = int(start_time+limit*60*60*1000)

    #store the csv file and dataframe
    # choose the data from 2018-03-22 00:00:00 to 2021-03-22 00:00:00
    names["df_"+j] = df_result[df_result["open_time"]>="2018-03-22 00:00:00"].reset_index(drop=True)
    names["df_"+j].to_csv("result_"+j+".csv")

In [123]:
df_BNB

                open_time          open          high           low         close           volume
0     2018-03-22 00:00:00    9.97290000   10.29900000    9.90000000   10.26780000  266584.04000000
1     2018-03-22 01:00:00   10.29500000   10.45000000   10.15120000   10.23000000  191108.75000000
2     2018-03-22 02:00:00   10.23000000   10.24000000   10.04130000   10.14980000  175446.68000000
3     2018-03-22 03:00:00   10.13580000   10.22080000   10.01770000   10.08050000  111332.62000000
4     2018-03-22 04:00:00   10.08050000   10.44990000   10.05000000   10.40000000  158648.95000000
...                   ...           ...           ...           ...           ...              ...
26236 2021-03-21 20:00:00  264.84760000  266.57290000  264.32700000  266.39750000   76760.13900000
26237 2021-03-21 21:00:00  266.34580000  267.42590000  265.65600000  267.22720000   62797.02300000
26238 2021-03-21 22:00:00  267.22990000  267.36190000  264.01090000  264.29120000   66227.27200000
26239 2021-03-21 23:00:00  264.29120000  265.20760000  263.17110000  264.65130000   70433.62100000
26240 2021-03-22 00:00:00  264.71520000  265.32870000  260.25700000  260.76690000  103272.14700000

[26241 rows x 6 columns]

In [124]:
df_BTC

                open_time            open            high             low           close         volume
0     2018-03-22 00:00:00   8884.82000000   9050.00000000   8860.00000000   9023.07000000  1372.32365100
1     2018-03-22 01:00:00   9034.83000000   9090.00000000   8976.16000000   9067.43000000  1310.02047700
2     2018-03-22 02:00:00   9067.43000000   9080.00000000   9030.02000000   9049.96000000   933.06003300
3     2018-03-22 03:00:00   9049.96000000   9100.00000000   8980.00000000   9017.01000000  1280.34239800
4     2018-03-22 04:00:00   9019.00000000   9037.00000000   8968.08000000   9030.00000000   839.47745600
...                   ...             ...             ...             ...             ...            ...
26236 2021-03-21 20:00:00  57517.00000000  57997.00000000  57517.00000000  57760.48000000  1929.96849900
26237 2021-03-21 21:00:00  57760.47000000  58098.99000000  57474.46000000  58087.79000000  1423.23587900
26238 2021-03-21 22:00:00  58085.41000000  58113.00000000  57530.82000000  57588.25000000  1502.15820800
26239 2021-03-21 23:00:00  57588.25000000  57789.25000000  57128.89000000  57351.56000000  1744.83614600
26240 2021-03-22 00:00:00  57351.56000000  57449.47000000  56420.00000000  56590.76000000  2801.92626700

[26241 rows x 6 columns]

In [126]:
df_ETH

                open_time           open           high            low          close          volume
0     2018-03-22 00:00:00   559.15000000   571.51000000   557.93000000   570.72000000   4373.76732000
1     2018-03-22 01:00:00   570.72000000   575.96000000   565.89000000   572.78000000   3352.67170000
2     2018-03-22 02:00:00   573.57000000   577.00000000   572.32000000   573.83000000   2939.72257000
3     2018-03-22 03:00:00   574.50000000   578.60000000   568.00000000   569.58000000   4051.97864000
4     2018-03-22 04:00:00   569.33000000   571.00000000   565.59000000   570.00000000   2229.88027000
...                   ...            ...            ...            ...            ...             ...
26236 2021-03-21 20:00:00  1795.99000000  1802.34000000  1793.36000000  1798.04000000  16133.36175000
26237 2021-03-21 21:00:00  1798.04000000  1809.25000000  1796.50000000  1809.06000000  10959.29122000
26238 2021-03-21 22:00:00  1809.05000000  1809.14000000  1785.06000000  1785.83000000  14776.34239000
26239 2021-03-21 23:00:00  1785.75000000  1792.38000000  1776.43000000  1782.98000000  15428.45970000
26240 2021-03-22 00:00:00  1783.23000000  1786.35000000  1754.01000000  1757.44000000  25103.30095000

[26241 rows x 6 columns]